<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('send_file', filename='style.css') }}">
</head>
<body>
{% if message %}
<p>{{ message }}</p>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
<!--        <label for="name">Name :</label>-->
        <label for="name"></label>
        {{ form.name.label }}
        {{ form.name(size=32) }}
    </p>
    <p>
        <label for="email">Email:</label>
        {{ form.email.label }}
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
</body>
</html>